.navigation {
  background-color: rgb(82, 30, 30);
  position: fixed;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  min-width: 150px;
}
.avatar {
  border-radius: 50%;
  width: 50%;
}
.nav-item {
  font-family: "Sunflower", sans-serif;
  color: beige;
  font-size: 2.5vw;
  padding-top: 20%;
  text-decoration: none;
}
.nav-item:hover {
  color: orange;
}
@media (max-width: 750px) {
  .nav-item {
    font-size: 20px;
  }
}
.main {
  display: grid;
  grid-template-columns: minmax(150px, 20vw) auto;
}
.column-start {
  grid-column-start: 2;
  padding-left: 20px;
  padding-right: 20px;
}
.section {
  min-height: 100vh;
  padding-top: 30px;
}
